body{
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #F8EDE3;
}

#root{
  margin: 0;
  box-sizing: border-box; 
  height: 100vh; 
  background-color: #F8EDE3
}

/* App */ 
.App{
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  height: 100vh; 
  width: auto;
  background-color: #F8EDE3
}

/* Info-section */ 

.info--container{
  background-color: #1A1B21;
  width: 317px;
  height: auto;
  margin: 0 auto;  
}
.info--text{
  text-align: center;   
  display: block; 
  justify-content: center;
  align-items: center;
}

.info--image{
  width: auto;
  height: 317px;
  border-radius: 6px 6px 0 0; 
}

.info--buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.info--buttons button{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 115px; 
  height: 34px;
  margin: 10px;
  text-align: center; 
}

.fa-envelope{
  margin-right: 8px;
}

#icon--linkedin{
  color: #ffffff; 
  margin-right: 8px; 
}

.info--header{
  font-weight: 700;
  color: #fff; 
  font-size: 25px;
  font-style: normal;
  line-height: 30px; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0; 
}

.info--jobtitle{
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15.49px;
  color: #F3BF99;
  margin: 6px 0 6px 0;  
}

.info--website{
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15.36px; 
  color: #F5F5F5;
}

.info--emailbtn{
  color: #374151;
  border-radius: 8px #1a1b21; 
  cursor: pointer;
}

.info--linkedbtn{
  border-radius: 8px;  
  background: #5093E2;
  color: #ffffff;
  cursor: pointer;
}

/* About Section */

.about--container{
  color: #DCDCDC;
  width: 317px;
  margin: 0 auto;  
  background: #1A1B21;   
  position: relative; 
  display: block; 
}

.about--container h3{
  margin: 0;
  color: #F5F5F5;
  line-height: 24px; 
  font-size: 16px;
  font-weight: 700;
}

.about--container p{
  font-size: 10.24px; 
  font-weight: 400;
  line-height: 15.36px;
  color: #DCDCDC;
}

.text--container{
  padding: 20px 40px 40px 40px; 
}

/* Footer Section */

.footer--container{
  margin: 0 auto; 
  width: 317px;
  display: flex; 
  height: 67px;
  background-color: #161619;
  border-radius: 0 0 6px 6px; 
}

.icons--container{
  display: flex;
  margin: 0 auto; 
  justify-content: center;
  align-items: center;
} 
.footer--container i{
  color: #918E9B;
  font-size: 30px;
  padding: 15px;   
}

.footer--container a:hover{
  cursor: pointer;
}

/* Navbar Section */

.navbar--container{
  display: flex;
  align-items: center; 
  justify-content: left; 
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #3F4E4F;
  background-color: #DFD3C3;
  border-radius: 0 0 15px 15px;
}

.navbar--logo{
  width: 10%;
  height: auto;
  padding-right: 20px;  
}

.navbar--container a{
  margin: 0 0 30px 20px; 
  cursor:pointer; 
}

.navbar--items{
  padding: 20px; 
  display: flex; 
}

/* AddHabit Section */
.add--habit--container{
  display: block;
}

.input--container{
  margin: 0 auto;
  padding: 56px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--container input{
  width: 40%;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

.input--container button{
  margin-left: -50px;
  border-radius: 50%; 
  height: 30px;
  border: 0;
  background: rgb(251, 251, 251);
  cursor: pointer;
  transition: all 0.1s ease 0.1s;  
}

.input--container button:hover{
  background-color: #EBE6D9;
}

.input--container .fa-plus{
  font-size: 20px; 
}

.input--container input:focus{
  border: 2px solid rgb(124, 138, 255);
}

.habits--container{
  display: grid;
  justify-items: center; 
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: repeat(auto-fill);
  row-gap: 10px; 
  width: 100%;
  height: auto;
  margin: 0 auto;  
  color: #161619; 
  font-weight: 500; 
  letter-spacing: -0.04em; 
}

.habit--item{
  overflow:auto;
  cursor: grab;
  word-wrap: break-word;
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center; 
  color: #3F4E4F;
  font-size: 20px; 
  background-color: #DFD3C3;
  padding: 20px;
  width: 80%; 
  height: auto; 
  text-align: center; 
  border-radius: 40px;
}

.habit--item:hover .delete--item{
  display: flex;
  transition: 1.5s;  
}

.delete--item{
  display: none; 
  justify-content: center;
  height: 25px; 
  width: 25px;
  background-color: #ccbfaf;
  border: 0.8px solid #3F4E4F; 
  border-radius: 50%;
  position: absolute; 
  top: 5px;
  right: 15px; 
  color: #000; 
  animation-timing-function: ease-in;
}

.delete--item:hover{
  cursor: pointer;
}

.fa-x:before{
  font-size: 12px; 
  color: #000;
  text-align: center;
  pointer-events: none;
}

/* Category Component Styling */

.category--container{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto; 
  height: auto;
  padding: 5px; 
}

.positive--container, .neutral--container, .negative--container{
  width: 35%; 
  height: auto; 
  display: block; 
  padding: 0;
  margin: 25px; 
  background-color: #ccbfaf;
  border-radius: 25px 25px 25px 25px; 
}

.category--list--positive, .category--list--neutral, .category--list--negative{
  background-color: #DFD3C3;
  height: 450px; 
  width: 100%;
  border-radius: 0 0 25px 25px; 
  padding: 10px 0 10px 0; 
}

.category--header{
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  color: #3F4E4F;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: -0.04em; 
}

.category--header h3{
  margin-right: 20px; 
}

.category--item--negative, .category--item--positive, .category--item--neutral{
  font-size: 20px; 
  width: auto;
  height: 10%; 
  border-radius: 10px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 25px 0 25px;
  font-weight: 400;
  letter-spacing: -0.06em;
  margin-bottom: 10px;  
}

.category--item--negative{
  background-color: #ff6961;
}

.category--item--positive{
  background-color: #93C572; 
}

.category--item--neutral{
  background-color: #EBE6D9; 
}


